.sectionHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--main-padding-vl) var(--main-padding-hl);
  .seeAllText {
    font-size: var(---fs-500);
    font-weight: 600;
    color: var(--clr-primary-100);
  }
}
