.mostPopularContainer {
  margin-top: var(--margin-500);
  .productMainContainer {
    padding: 0.5rem calc(var(--main-padding-hl) - var(--margin-500)) 0.8rem
      var(--main-padding-hl);
    display: flex;
    overflow: scroll;
  }
}

@media only screen and (max-width: 800px) {
  .mostPopularContainer {
    margin-top: var(--margin-200);
    .productMainContainer {
      padding: 0.2rem calc(var(--main-padding-hl) - var(--margin-400)) 0.8rem
        var(--main-padding-hl);
    }
  }
}
